.box{
    display: flex;
    justify-content: center;
}

.card{
    max-width: 400px;
    .card__img{
        aspect-ratio: 1/1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }
}