/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: min(1189px, 100% - 1rem);
  margin-inline: auto;
}

/* SHADOW*/
.blog-shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.blog-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/* SHADOW*/
body {
  background-color: black;
}

.box {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 400px;
  padding: 30px;
  background-color: black;
  border-radius: 20px;
  position: relative;
}
.card:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #0974f1 0%, #9fccfa 100%);
  transform: translate3d(43px, 10px, 0) scale(0.99);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.7s;
  border-radius: inherit;
}
.card:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.card .card__img {
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.card .card__img img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card__titel {
  color: black;
  font-family: "Poor Story", cursive;
  text-transform: uppercase;
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
}
.card .card__text {
  color: black;
  font-family: "Poor Story", cursive;
  text-transform: uppercase;
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
}
.card .card__btn {
  color: black;
  font-family: "Poor Story", cursive;
  text-transform: uppercase;
  background-color: transparent;
  padding: 20px 30px;
  cursor: pointer;
  border: 1px solid black;
}

.call-to-action-btn {
  background-color: transparent;
  font-weight: 400;
  font-family: "Poppins";
  cursor: pointer;
  transition: all 600ms ease;
}

/* .call-to-action-btn:hover {
    color: white;
    background-color: black;
    transition: all 0.2s;
} */
.focus {
  color: white;
  background-color: white;
  transition: all 600ms ease;
}/*# sourceMappingURL=style.css.map */